h1. {{#info}}{{title}}


h2. {{join schemes " | "}}://{{host}}{{basePath}}


{{description}}

{{#contact}}
**[Contact the developer](mailto:{{email}})**
{{/contact}}

**Version** {{version}}

**[Terms of Service]({{termsOfService}})**

{{#license}}**[{{name}}]({{url}})**{{/license}}

{{/info}}

{{#if consumes}}**Consumes:** {{join consumes ", "}}{{/if}}

{{#if produces}}**Produces:** {{join produces ", "}}{{/if}}

{{#if securityDefinitions}}
h2. Security Definitions
{{/if}}
{{> security}}

h2. APIs

{{#each paths}}
h3. {{@key}}
{{#this}}
{{#get}}
h4. GET
{{> operation}}
{{/get}}

{{#put}}
h4. PUT
{{> operation}}
{{/put}}

{{#post}}
h4. POST

{{> operation}}

{{/post}}

{{#delete}}
h4. DELETE
{{> operation}}
{{/delete}}

{{#option}}
h4. OPTION
{{> operation}}
{{/option}}

{{#patch}}
h4. PATCH
{{> operation}}
{{/patch}}

{{#head}}
h4. HEAD
{{> operation}}
{{/head}}

{{/this}}
{{/each}}

h2. Definitions
{{#each definitions}}
h3. <a name="/definitions/{{key}}">{{@key}}</a>
||Name||Type||Required||Description||Example||
  {{#each this.properties}}
  |{{@key}}|{{#ifeq type "array"}}
                  {{#items.$ref}}
                      {{type}}[<a href="{{items.$ref}}">{{basename items.$ref}}</a>]
                  {{/items.$ref}}
                  {{^items.$ref}}{{type}}[{{items.type}}]{{/items.$ref}}
                  {{else}}
                      {{#$ref}}<a href="{{$ref}}">{{basename $ref}}</a>{{/$ref}}
                      {{^$ref}}{{type}}{{#format}} ({{format}}){{/format}}{{/$ref}}
                  {{/ifeq}}
            |{{#required}}required{{/required}}{{^required}}optional{{/required}}|
            |{{#description}}{{{description}}}{{/description}}{{^description}}-{{/description}}|
            |{{example}}|
  {{/each}}
{{/each}}

